@import './fonts.css';

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
  color: #1f2937;
  font-size: 16px;
  line-height: 1.5;
}

code {
  font-family: var(--font-mono);
} 